{{> navigation}}
<!--pageTitle: 'Dashboard',-->
<!--userEmail: res.locals.user.email,-->
<!--userExams: res.locals.user.ownedExams-->

<div class="page-title">
    <h1>User: {{{userEmail}}}</h1>
    <div class="owned-exams">
        <h3>Owned exams:</h3>
        {{#if userExams.length}}
            {{#each userExams}}
                <div class="exam-dashboard">
                    <a class="single" href="/exams/{{_id}}">
                        <h3 class="title">{{name}}</h3>
                        <p>time: {{time}}</p>
                        <p>description: {{description}}</p>
                    </a>
                </div>
            {{/each}}
        {{/if}}
    </div>


</div>