{{> navigation}}

<script type="text/javascript" src="/js/details.js" defer></script>
<link rel="stylesheet" href="/css/details.css">


<div class="dashboard-body">
    <div class="dashboard-container">
        <p class="dashboard-title">Exam Details</p>
        <div class="dashboard-container-body">
            <div class="exam-details-field">
                <p>Name:</p>
                <p>{{lookup exam 0}}</p>
            </div>
            <div class="exam-details-field">
                <p>Time:</p>
                <p>{{lookup exam 1}}min {{lookup exam 2}}s</p>
            </div>
            <div class="exam-details-field">
                <p>Description:</p>
                <p>{{lookup exam 5}}</p>
            </div>
            <div class="exam-details-field">
                <p>Exam Code:</p>
                <p>{{lookup exam 4}}</p>
            </div>
        </div>
        <a class="delete" data-doc="{{lookup exam 3}}">
            <p class="question-title">Delete exam</p>
            <img src="/img/trashcan.svg" alt="delete icon">
        </a>
    </div>
    <div class="dashboard-container">
        <p class="dashboard-title">Exam's Questions:</p>
        {{#if questions.length}}
            {{#each questions}}
                <div class="dashboard-exam">
                    <p class="question-title">Question:</p>
                    <p>{{question}}</p>
                    <p class="question-title">Available answers:</p>
                    <p class="available-answer">a) {{questionAnswerA}}</p>
                    <p class="available-answer">b) {{questionAnswerB}}</p>
                    <p class="available-answer">c) {{questionAnswerC}}</p>
                    <p class="available-answer">d) {{questionAnswerD}}</p>
                    <p>correct answer: {{correctAnswer}}</p>
                    <a class="delete-question" data-doc="{{_id}}">
                        <p class="question-title">Delete question</p>
                        <img src="/img/trashcan.svg" alt="delete icon">
                    </a>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <p class="create-question"><a href="/exams/createQuestion/{{lookup exam 3}}">Create Question</a></p>
</div>
