{{> navigation}}

<script type="text/javascript" src="/js/details.js" defer></script>
<link rel="stylesheet" href="/css/styles.css">


<div class="dashboard-body">
    <div class="dashboard-container">
        <p class="dashboard-title">Exam Details</p>
        <div class="details-container-body">
            <div class="exam-details-field">
                <p>Name:</p>
                <p>{{lookup exam 0}}</p>
            </div>
            <div class="exam-details-field">
                <p>Time:</p>
                <p>{{lookup exam 1}}min {{lookup exam 2}}s</p>
            </div>
            <div class="exam-details-field">
                <p>Description:</p>
                <p>{{lookup exam 5}}</p>
            </div>
            <div class="exam-details-field">
                <p>Exam Code:</p>
                <p>{{lookup exam 4}}</p>
            </div>
        </div>
    </div>
    <p class="solve-test-button"><a href="/solutions/personalInformation/{{lookup exam 3}}">Start Solving Test</a></p>
</div>
