{{> navigation}}

<link rel="stylesheet" href="/css/details.css">

<div class="dashboard-body">
    <div class="dashboard-container">
        <p class="dashboard-title">Exam's Questions:</p>
        <form action="/solutions/{{solutionId}}" method="POST">
            {{#if tasks.length}}
                {{#each tasks}}
                    <div class="dashboard-exam">
                        <p class="question-title">Question:</p>
                        <p>{{question}}</p>
                        <p class="question-title">Available answers:</p>
                        <p class="available-answer">a) {{questionAnswerA}}</p>
                        <p class="available-answer">b) {{questionAnswerB}}</p>
                        <p class="available-answer">c) {{questionAnswerC}}</p>
                        <p class="available-answer">d) {{questionAnswerD}}</p>
                        <fieldset>
                            <input type="hidden" name="answer" value="{{_id}}" />
                            <label>
                                <input name="answer" type="text" placeholder="answer"/>
                            </label>
                        </fieldset>
                    </div>
                {{/each}}
            {{/if}}
            <button type="submit">Login</button>
        </form>
    </div>
</div>
